# local package

# external requirements
python-dotenv>=0.5.1
pandas
tensorflow
tensorflow_probability
sklearn
scipy

requests>=2.32.0 # not directly required, pinned by Snyk to avoid a vulnerability
